<% content_for :head do %>
  <script type="module">
  import 'custom/post';
  </script>
<% end %>

<h1>Feeds</h1>
<%= link_to new_post_path, class:'btn btn-outline-success' do%>
<i class="fa-regular fa-plus"></i> New Post
<%end%>
<div id="posts" class="mt-2">
  <%= render partial: "post", collection: @posts %>
  <%= render partial: "next_page" %>
</div>
