
<h1>Feeds</h1>
<%= link_to "Add New post", new_post_path, class:'btn btn-outline-success' %>
<div id="posts" class="mt-2">
  <%= render partial: "post", collection: @posts %>
  <%= render partial: "next_page" %>
</div>




