
<h1>Feeds</h1>
<%= link_to "Add New post", new_post_path, class:'btn btn-outline-success' %>
<div id="posts" class="mt-2">
  <%= render partial: "post", collection: @posts %>
  <%= render partial: "next_page" %>
</div>



<script type="module">
$('body').on('click','.like-action', function(e){
   var postId = $(this).data('id');
    $.ajax({
        url: "/ajaxlikes",
        type: "post",
        data: {
            post_id : postId
            },
        dataType: "json",
        success: function(data) {
          if(data.status=="created"){
            $("#like_button_"+data.post_id).removeClass('btn-outline-danger')
            $("#like_button_"+data.post_id).addClass('btn-danger')
          }else{
            $("#like_button_"+data.post_id).removeClass('btn-danger')
            $("#like_button_"+data.post_id).addClass('btn-outline-danger')
          }
        },
        error: function(data) {

        }
    })
})
</script>
